<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pikachu</title>
</head>
<body>
<h1 th:text="${socket_1}"></h1>
<form action="/sockets" method="post">
  <button type="submit">Schalter von Steckdose 1 drücken</button>
</form>
</body>
</html>
